<div class="container">
  <h2 class="text-center">Lista de Seguros</h2>
  <div class="d-flex justify-content-around ">
    <button class="btn btn-primary" (click)="nuevoSeguro()">Nuevo</button>
  </div>
  <div *ngIf="seguros && seguros.length > 0">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre del Seguro</th>
          <th>Código del Seguro</th>
          <th>Fecha de Creación</th>
          <th>Prima</th>
          <th>Suma</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let seguro of seguros">
          <td>{{ seguro.seguroId }}</td>
          <td>{{ seguro.nombre_seguro }}</td>
          <td>{{ seguro.codigo }}</td>
          <td>{{ seguro.fecha_creacion }}</td>
          <td>{{ seguro.suma }}</td>
          <td>{{ seguro.prima }}</td>
          <td>
            <button class="btn btn-primary" (click)="editarSeguro(seguro)">Editar</button>
            <button class="btn btn-danger" (click)="eliminarSeguro(seguro)">Eliminar</button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
  <div class="d-flex justify-content-around " *ngIf="seguros && seguros.length === 0">
    <!-- Mostrar mensaje cuando no hay datos -->
    <p>Sin datos por mostrar, dar clic en Nuevo</p>
  </div>
</div>